<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layout">
<head>
<title>CASA DE SHOW</title>
<link rel="stylesheet" type="text/css" href="/css/listshow.css"></link>
</head>
<section layout:fragment="conteudo">
	<form class="form-horizontal" method="POST" action="/registrar/salvarshow" th:object="${eventos}">
		<div class="container" style="margin-top: 16px;">
			<h1> EVENTO </h1>
			<div class="alert alert-success fade show" role="alert" th:if="${!#strings.isEmpty(sucesso_evento)}">
				<button type="button" class="close" data-dismiss="alert"></button>
				<span th:text="${mensagem}"></span>
			</div>
			<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
				<div th:each="detailedError : ${#fields.detailedErrors()}">
					<span th:text="${detailedError.message}"></span>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h4> Registrar </h4>
				</div>
				<div class="card-body">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="InputNomeShow">Nome:</label> 
							<input type="text" class="form-control" id="InputNomeShow" placeholder="Nome">
						</div>
						<div class="form-group col-md-6">
							<label for="InputNomeShow">Local:</label> 
							<select class="form-control" name="casashow">
								<option  th:each="casaa : ${list_casa}" th:value="${casaa.id}" th:text="${casaa.nome}"></option>
							</select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-3">
							<label for="InputNomeShow">Data:</label> 
							<input type="text" class="form-control" id="" placeholder="DD/MM/AAAA (Dia do evento)">
						</div>
						<div class="form-group col-md-3">
							<label for="InputNomeShow">Total de Ingressos:</label> 
							<input type="number" class="form-control" id="InputNomeShow">
						</div>
						<div class="form-group col-md-3">
							<label for="InputNomeShow">Valor:</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">R$</div>
								</div>
								<input type="text" class="form-control" id="InputNomeShow" placeholder="000.00">
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-secondary" style="float: right;">SALVAR</button>
				</div>
			</div>
		</div>
	</form>
</section>
</html>