<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="Layout">
	<head>
		<title>CASA DE SHOW</title>
		<link rel="stylesheet" type="text/css" href="/css/listshow.css"></link>
	</head>
	<section layout:fragment="conteudo">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="row" style="margin-top: 40px;">
						<form class="form-inline my-2 my-lg-0" method="post" action="/lista" th:object="${filtro}">
							<input class="form-control mr-sm-2" type="search" placeholder="Nome do Evento" aria-label="Search" th:field="*{nome}">
							<button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
						</form>
						<button type="button" class="btn btn-primary ml-auto" onclick="window.location.href='/registrar/evento'" style="float: right;" sec:authorize="hasRole('ADMIN')">Novo evento</button>
					</div>
					<div class="row">

						<div style="margin-top: 20px;" class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
							<ul class="event-list">
								<li th:each="evento : ${list_evento}">
									<time>
										<span class="day" th:text="${#dates.format(evento.data, 'dd')}"></span>
										<span class="month" th:text="${#dates.format(evento.data, 'MMM')}"></span>
										<span class="year" th:text="${#dates.format(evento.data, 'yyyy')}"></span>
									</time>
									<img th:src="@{${'/img/' + evento.genero + '.png'}}" />
									<div class="info">
										<h2 class="title" th:text="${evento.nome}"></h2>
										<p class="desc" style="font-size: 14px;">
											Casa de Show: <span th:text="${evento.casashow.nome}"></span><br>
											Local: <span th:text="${evento.casashow.local}"></span><br>
										</p>
										<ul>
											<li style="width:50%;" sec:authorize="hasRole('CLIENT')"><a th:href="@{/carrinho/{id_evento}(id_evento=${evento.id})}"><span class="fa fa-globe"></span> Comprar</a></li>
										</ul>
									</div>
									<div class="social">
										<span th:text="|R$ ${{evento.valor}}|"></span>
									</div>
								</li>	
							</ul>
							<span th:if="${#lists.isEmpty(list_evento)}" style="text-align: center; font-size: 20pt;"> Não tem eventos</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</html>