<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="Layout">
	<head>
		<title>CASA DE SHOW</title>
		<link rel="stylesheet" type="text/css" href="/css/home.css"></link>
	</head>
	<section layout:fragment="conteudo">
		<div id="background-carousel">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="item active"
						style="background-image: url(http://placehold.it/1600x800/)"></div>
					<div class="item"
						style="background-image: url(http://placehold.it/1600x800/)"></div>
					<div class="item"
						style="background-image: url(http://placehold.it/1600x800/)"></div>
				</div>
			</div>
		</div>
	
	
		<div id="content-wrapper">
			<!-- PAGE CONTENT -->
			<div class="container">
				<div class="page-header">
					<h3>Bem-Vindo!</h3>
				</div>
				<!-- End Well -->
			</div>
			<!-- End Container -->
			<!-- PAGE CONTENT -->
		</div>
	</section>
</html>