<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layout">
<head>
<title>CASA DE SHOW</title>
<link rel="stylesheet" type="text/css" href="/css/listshow.css"></link>
</head>
<section layout:fragment="conteudo">
	<form class="form-horizontal" method="POST" action="/registrar/salvarshow" th:object="${eventos}">
		<div class="container" style="margin-top: 16px;">
			<h1> EVENTO </h1>
			<div class="card">
				<div class="card-header">
					<h4> Lista de Eventos </h4>
				</div>
				<div class="card-body">
					<table class="table table-bordered">
						<thead class="text-muted">
							<tr>
								<th rowspan=2 scope="col" width="6%" style="vertical-align: middle;">ID</th>
								<th rowspan=2 scope="col" width="29%" style="text-align: center; vertical-align: middle;">Nome</th>
								<th rowspan=2 scope="col" width="15%" style="text-align: center; vertical-align: middle;">Data</th>
								<th rowspan=2 scope="col" width="24*" style="text-align: center; vertical-align: middle;">Casa de Show</th>
								<th rowspan=2 scope="col" width="10%" style="text-align: center; vertical-align: middle;">Valor</th>
								<th colspan=2 scope="col" width="16%" style="text-align: center; vertical-align: middle;">Quant. de Ingressos</th>
							</tr>
							<tr>
								<th scope="col" width="8%" style="text-align: center;">Total</th>
								<th scope="col" width="8%" style="text-align: center;">Disponível</th>
							</tr>
						</thead>
						<tbody class="table-hover">
							<tr th:each="evento : ${list_evento}">
								<td th:text="${evento.id}" style="text-align: center; vertical-align: middle;"></td>
								<td th:text="${evento.nome}" style="text-align: center; vertical-align: middle;"></td>
								<td th:text="${evento.data}" style="text-align: center; vertical-align: middle;"></td>
								<td th:text="${evento.genero.nome}" style="text-align: center; vertical-align: middle;"></td>
								<td th:text="${evento.valor}" style="text-align: center; vertical-align: middle;"></td>
								<td th:text="${evento.qtdIngressoMax}" style="text-align: center; vertical-align: middle;"></td>
								<td th:text="${evento.qtdIngresso}" style="text-align: center; vertical-align: middle;"></td>
								<td class="text-right" style="text-align: center; vertical-align: middle;">
									<div class="btn-group btn-group-toggle" data-toggle="buttons">
										<label class="btn btn-secondary btn-sm"> 
											<input th:href="@{/editarEvento/{evento_id}(evento_id=${evento.id})}" type="radio" name="options" id="option1" autocomplete="off"> EDITAR
										</label> 
										<label class="btn btn-secondary btn-sm"> 
											<input th:href="@{/removerEvento/{evento_id}(evento_id=${evento.id})}" type="radio" name="options" id="option2" autocomplete="off">REMOVER
										</label>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</form>
</section>
</html>