<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layout">
<head>
<title>CASA DE SHOW</title>
<link rel="stylesheet" type="text/css" href="/css/listshow.css"></link>
</head>
<section layout:fragment="conteudo">
	<!-- Page Content -->
	<form class="form-horizontal" method="POST" action="/registrar/salvarshow" th:object="${casa}">
		<div class="container" style="margin-top: 16px;">
			<h1> CASA DE SHOW </h1>
			<div class="alert alert-success fade show" role="alert" th:if="${!#strings.isEmpty(sucesso_show)}">
				<button type="button" class="close" data-dismiss="alert"></button>
				<span th:text="sucesso_show"></span>
			</div>
			<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
				<div th:each="detailedError : ${#fields.detailedErrors()}">
					<span th:text="${detailedError.message}"></span>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<h4> Registrar </h4>
				</div>
				<div class="card-body">
					<input type="hidden" th:field="*{id}">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="nome">Nome:</label> 
							<input type="text" class="form-control" id="nome" placeholder="Nome" th:field="*{nome}" th:classappend="${#fields.hasErrors('nome')} ? is-invalid">
							<div class="invalid-feedback" th:if="${#fields.hasErrors('nome')}"> Por favor, aplique um nome valido</div>
						</div>
						<div class="form-group col-md-6">
							<label for="local">Local:</label> 
							<input type="text" class="form-control" id="local" placeholder="Local" th:field="*{local}" th:classappend="${#fields.hasErrors('local')} ? is-invalid">
							<div class="invalid-feedback" th:if="${#fields.hasErrors('nome')}"> Por favor, aplique um local valido</div>
						</div>
					</div>
					<button type="submit" class="btn btn-secondary" style="float: right;">SALVAR</button>
				</div>
			</div>
		</div>
	</form>
</section>
</html>