<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorator="Layout">
	<head>
		<title>CASA DE SHOW</title>
	</head>
	<section layout:fragment="conteudo">
		<div class="container" style="margin-top: 40px;">
			<form th:object="${carrinho}" action="/finalizar">
				<div th:insert="mensagem"></div>
			    <div class="row">
			        <div class="col-sm-12 col-md-10 col-md-offset-1">
			            <table class="table table-hover">
			                <thead>
			                    <tr>
			                        <th class="col-sm-8 col-md-6">Produto</th>
			                        <th class="col-sm-1 col-md-1">Quantidade</th>
			                        <th class="col-sm-1 col-md-1 text-center">Preço</th>
			                        <th class="col-sm-1 col-md-1 text-center">Total</th>
			                        <th class="col-sm-1" > </th>
			                    </tr>
			                </thead>
			                <tbody>
			                    <tr th:each="listcart : ${listcarrinho}">
			                        <td>
				                        <div class="media">
				                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
				                            <div class="media-body">
				                                <h4 class="media-heading" th:text="${listcart.produto.nome}"></h4>
				                                <h6 class="media-heading" th:text="| na ${listcart.produto.casashow.nome}|"></h6>
				                                <span>Status: </span>
			                                	<span class="text-success" th:if="${listcart.produto.qtdIngresso != 0}"><strong>Disponivel</strong></span>
			                                	<span class="text-danger" th:if="${listcart.produto.qtdIngresso == 0}"><strong>Indisponivel</strong></span>
				                            </div>
				                        </div>
			                        </td>
			                        <td style="text-align: center">
			                        	<!--<input type="number" class="form-control" id="exampleInputEmail1" th:value="${listcart.qtd_produto}">-->
			                        	<h5 th:text="${listcart.qtd_produto}"></h5>
			                        </td>
			                        <td><strong th:text="|R$ ${{listcart.produto.valor}}|"></strong></td>
			                        <td><strong th:text="${#numbers.formatCurrency(listcart.produto.valor*listcart.qtd_produto)}"></strong></td>
			                        <td>
			                        	<a type="button" class="btn btn-danger" th:href="@{/remover/{id_evento}(id_evento=${listcart.produto.id})}">REMOVER</a>
			                        </td>
			                    </tr>
			           
        			            <tr>
			                        <td style="text-align: center;" colspan=5 th:if="${#lists.isEmpty(listcarrinho)}">
			                        	<span>Carrinho vázio</span>
			       					</td>
			                    </tr>
			                   
			                    <tr th:if="${!#lists.isEmpty(listcarrinho)}">
			                        <td colspan=3></td>
			                        <td><h5>Total</h5></td>
			                        <td class="text-right"><h5><strong th:text="${#numbers.formatCurrency(#aggregates.sum(listcarrinho.![produto.valor*qtd_produto]))}"></strong></h5></td>
			                    </tr>
			                    <tr th:if="${!#lists.isEmpty(listcarrinho)}">
			                        <td colspan=4></td>
			                        <td>
				                        <button type="submit" class="btn btn-success">FINALIZAR</button>
			                        </td>
			                    </tr>
			                </tbody>
			            </table>
			        </div>
			    </div>
		    </form>
		</div>
	</section>
</html>