<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	layout:decorator="Layout">
	<head>
		<title>CASA DE SHOW</title>
		<link rel="stylesheet" type="text/css" href="/css/home.css"></link>
	</head>
	<section layout:fragment="conteudo">
		<div class="textcenter">
			 <p class="font-weight-bolder text-light" style="font-size:5em;">BEM-VINDO,</p>
			 <p class="font-weight-bolder text-light" style="font-size:2em;">A LOJA COM OS MELHORES PREÇOS, NÃO PERCA TEMPO.</p>
			 <button type="button" onclick="window.location.href='/login'" class="btn btn-secondary" sec:authorize="!isAuthenticated()">COMECE SUA COMPRA!</button>
		</div>
	</section>
</html>