<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layout">
<head>
<title>CASA DE SHOW</title>
</head>
<section layout:fragment="conteudo">
	<form class="form-horizontal" method="POST" action="/registrar/salvarshow" th:object="${eventos}">
		<div class="container-fluid" style="margin-top: 40px;">
			<h1> EVENTO </h1>
			<div layout:insert="mensagem"></div>
			<div class="card">
				<div class="card-header">
					<h4> Lista de Eventos <a style="float: right;" class="btn btn-primary btn-sm" href="/registrar/evento" role="button">Novo Evento</a></h4>
				</div>
				<div class="card-body">
					<table class="table table-hover table-bordered">
						<thead class="text-muted">
							<tr>
								<th rowspan=2 scope="col" width="6%" style="vertical-align: middle;">ID</th>
								<th rowspan=2 scope="col" width="15%" style="text-align: center; vertical-align: middle;">Nome</th>
								<th rowspan=2 scope="col" width="15%" style="text-align: center; vertical-align: middle;">Data</th>
								<th rowspan=2 scope="col" width="24%" style="text-align: center; vertical-align: middle;">Casa de Show</th>
								<th rowspan=2 scope="col" width="14%" style="text-align: center; vertical-align: middle;">Gênero</th>
								<th rowspan=2 scope="col" width="10%" style="text-align: center; vertical-align: middle;">Valor</th>
								<th colspan=2 scope="col" width="16%" style="text-align: center; vertical-align: middle;">Quant. de Ingressos</th>
								<th rowspan=2 style="text-align: center; vertical-align: middle;">Ação</th>
							</tr>
							<tr>
								<th scope="col" width="8%" style="text-align: center;">Total</th>
								<th scope="col" width="8%" style="text-align: center;">Disponível</th>
							</tr>
						</thead>
						<tbody class="table-hover">
							<tr th:each="evento : ${list_evento}">
								<td th:text="${evento.id}" style="text-align: center; vertical-align: middle;"></td>
								<td th:text="${evento.nome}" style="text-align: center; vertical-align: middle;"></td>
								<td th:text="${{evento.data}}" style="text-align: center; vertical-align: middle;"></td>
								<td th:text="${evento.casashow.nome}" style="text-align: center; vertical-align: middle;"></td>
								<td th:text="${evento.genero.tipo}" style="text-align: center; vertical-align: middle;"></td>
								<td th:text="|R$ ${{evento.valor}}|" style="text-align: center; vertical-align: middle;"></td>
								<td th:text="${evento.qtdIngressoMax}" style="text-align: center; vertical-align: middle;"></td>
								<td th:text="${evento.qtdIngresso}" style="text-align: center; vertical-align: middle;"></td>
								<td style="text-align: center; vertical-align: middle;">
									<div class="btn-group btn-group-toggle" data-toggle="buttons">
										<label> 
											<a class="btn btn-info btn-sm" th:href="@{/editarEvento/{evento_id}(evento_id=${evento.id})}">EDITAR</a>
										</label> 
										<label> 
											<a class="btn btn-danger btn-sm" href="#" data-toggle="modal" data-target="#confirmarExclusaoEvento" th:attr="data-idevento=${evento.id}, data-nomeevento=${evento.nome}">REMOVER</a>
										</label>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</form>
	<div layout:insert="modalExclusaoEvento"></div>
</section>
</html>